@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width:60em) {
    html {
        font-size: 110%
    }
}

@media only screen and (min-width:90em){
    html {
        font-size: 120%
    }
}

@media only screen and (min-width:120em) {
    html {
        font-size: 130%
    }
}

body {
  margin: 0;
  padding: 0;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #fff;
    color: #48459C;
    text-decoration: none;
    padding: 0.35em 0.5em;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}

.header {
    background-color: #000;
    overflow: hidden;
}

.logo {
    display: inline-block;
    float: left;
    width: 5em;
    margin-left:3%;
}

.nav ul{
    list-style-type: none;
    margin: 2em;
    padding: 0;
    float: left;
    width: 100%;
    overflow: hidden;
}    

.nav li{
    list-style-type: none;
    margin: 0;
    padding: .5em;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.nav a,
.nav a:linked,
.nav a:visted{
    display: block;
    color: #fff;
    text-decoration: none;
}
    
.nav li:hover,
.nav li:focus,
.nav li:active,
.nav .nav-current:link,
.nav .nav-current:visited{
    color: #53ADE1;
    background-color: #fff;
    padding: .5em;
}

.nav {
    display: inline-block;
    padding: 0;
    text-decoration: none;
    font-size: 1em;
    margin: 0;
    float: right;
    margin-top: 3em;
}

.nav a {
    text-decoration: none;
    color: #53ADE1;
    font-family: "lato",sans-serif;
    overflow: hidden;
    font-size: 1em;
    padding: 0;
}

.billboard {
    margin: auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url(../images/billboardmobile.jpg);
    height: 10em;
}

.billcap {
    color: #fff;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 6em;
    border: solid 3px #fff;
    font-family: "Lato", sans-serif;
    text-align: center;
}

.cap {
    display: none;
}

.title {
    margin-top: .5em;
    text-align: center;
    font-size: 1.25em;
    line-height: 1em;
}

.feat {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.subs {
    font-family: "lato", sans-serif;
    color: #000;
}
.social {
    float: left;
    width: 6em;
    padding: 1em;
}

.top{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mainicon{
    margin: auto;
    text-align: center;
    width: 15em;
    display: none;
}

.introtitle {
    font-family:"lato",sans-serif;
    margin: 0;
    color: #53ADE1;
}

.introtext {
    color: #fff;
}

.intro {
    background-color: #000;
}

.footer {
    background-color: #000;
}

.join {
    text-decoration: none;
    background-color: #fff;
    color: #53ADE1;
    padding: .5em;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;    
}

.join a {
    font-size: .5em;
    text-align: center;
    overflow: hidden;
}

.join:hover,
.join:focus,
.join:active{
    background-color: #53ADE1;
    color: #fff;
}

.social {
    width: 2em;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    float: left;
    clear: none;
}

.social1 {
    margin-left: 3%;
}

.social2 {
    margin-left: 3%;
}

label {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "lato",sans-serif;
    
}

input+label {
    display: inline-block;
}

input {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 2px #53ADE1;
    height: 2em;
    font-size: 1em;
    margin-bottom: .5em;
}

select {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%
}

.sub {
    font-family: "lato", sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    color: #000;
}

input+label [type="radio"] {
    margin-left:10%;
    display: inline-block;
}

button{
    background-color: #53ADE1;
    border: solid 1px #53ADE1;
    border-radius: 4px;
    margin: 2em 30%;
    width: 40%;
    color: #fff;
    font-size: 1em;
}


button:hover {
    border: solid 2px #53ADE1;
    background-color: #fff;
    color: #000;
}

.jointitle {
    font-size: 4em;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: bold;
}

.question {
    font-family: "lato", sans-serif;
    font-weight: bold;
    font-size: 1.15em;
}

.faq {
    color: #53ADE1;
    font-family: "lato",sans-serif;
}

.h2 {
    color: #fff;
    font-family: "lato", sans-serif;
    margin: 0 0 0 .5em;
}

.offers {
    list-style-type: square;
}

.free {
    color: #53ADE1;
    font-family: "lato",sans-serif;
    margin: 0 0 0 .5em;
}

.tour2 {
    background-color: #EAEAEA;
    height: 22em;
    padding: .5em;
}

.tour1 {
    background-color: #53ADE1;
    height: 22em;
    padding: .5em;
}

.price {
    font-size: 2em;
    position: relative;
    margin-top: 3.75em;
    text-align: center;
    border: solid 1px #fff;
    border-radius: 100px;
    background-color: #fff;
}

.price1 {
    font-size: 2em;
    position: relative;
    margin-top: 2em;
    text-align: center;
    border: solid 1px #fff;
    border-radius: 100px;
    background-color: #fff;
}

.price2 {
    font-size: 2em;
    position: relative;
    margin-top: .85em;
    text-align: center;
    border: solid 1px #fff;
    border-radius: 100px;
    background-color: #fff;
}

.thanks {
    font-family: "lato", sans-serif;
    color: #53ADE1;
    text-align: center;
    margin-top: 1em;
}
@media only screen and (min-width:20em) {
    .billboard {
        height: 15em;
    }
    
    .billcap {
        font-size: 1em;
        height: 12em;
    }
    
    .title {
        font-size: 2.5em;
        margin-top: .5em;
    }
    
    .social {
        height: 3em;
    }
    
    .social2 {
        margin-left: .5em;
    }
    
}
@media only screen and (min-width:26em){
    
    .billcap {
    font-size: 1em;
    height: 12em;
    }
    
    .cap {
        display: block;
    }
    
}
    
@media only screen and (min-width:37.938em){
    
    .mainicon {
        display: block;
    }
    
    .introtitle {
         padding-top: .5em;
    }
}
    
@media only screen and (min-width:40em){
       
    .billboard {
        margin: 0;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        background-image: url(../images/billboard.jpg);
        height: 30em;
    }    
    
    .billcap {
        text-align: center;
        color: #fff;
        overflow: hidden;
        padding: .75em;
        position: absolute;
        border: solid 3px #fff;
        font-family:"Lato", sans-serif;
        margin-left: 10%;
        margin-right: 10%;
        height: 26.5em;
    }
    
    .title{
        font-size: 4em;
        line-height: 1.25em;
        margin-top: 0;
    }
    
    .cap {
        display: block;
        font-size: 2em;
        line-height: 1.5em;
    }
    
    .join {
        font-size: 1.5em;
        margin: .5em;
    }
}
    
@media only screen and (min-width:50em) {
    
    .cap {
        margin-bottom: 4em;
    }
    
    .join {
    font-size: 3em;
    }
    
}